body {
        font-family: Arial, sans-serif;
        padding-block-end: 20px;
        background-color: #f4f4f4;
       }

       h1 {
        color: #333;
        text-align: center;
       }
       
        #map { height: 600px;
        width: 100%;
       border-radius: 10px;
       box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        border: 2px solid #ccc; }

   #ui-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    /* Make it translucent and blurry */
    background: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    
    font-family: 'Poppins', sans-serif; /* A cleaner font if you have it */
}